@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

.navbar-body{
    /* border: 2px solid pink; */
    display: flex;
    justify-content: center;
    font-family: 'Open Sans', sans-serif;
}

.navbar{        
    /* border: 2px solid red; */
    display: flex;
    align-items: center;
    padding: 0px 20px;
    max-width: 1200px;
    flex-grow: 2;
}

.menu-items{        
    /* border: 2px solid black; */
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    min-width: 450px;
}

.logo{
    width: 60px;   
}